<div class="sidebar">
  <div class="sidebar__logo">
    <span>Weather App</span>
  </div>
  <ul class="sidebar__list">
    <li class="sidebar__item" routerLink="/homepage" routerLinkActive="active">Homepage</li>
    <li class="sidebar__item" routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
    <li class="sidebar__item" routerLink="/saved-location" routerLinkActive="active">Saved Location</li>
    <li class="sidebar__item" routerLinkActive="active">Calender</li>
    <li class="sidebar__item" routerLink="/map" routerLinkActive="active">Map</li>
  </ul>
</div>
